// {{ ansible_managed }}
// ref: http://en.znc.in/wiki/Configuration

Version = {{ _znc_version.stdout | trim }}
<Listener l>
  Port = {{ znc_port }}
  IPv4 = {{ (znc_ipv4 | bool) | lower }}
  IPv6 = {{ (znc_ipv6 | bool) | lower }}
  SSL = {{ (znc_ssl | bool) | lower }}
</Listener>
{% for system_module in znc_system_modules %}
LoadModule = {{ system_module }}
{% endfor %}

<User {{ znc_user_name }}>
  Pass       = {{ znc_user_password }}
  Admin      = true
  Nick       = {{ znc_user_nick }}
  AltNick    = {{ znc_user_nick }}_
  Ident      = {{ znc_user_ident }}
  RealName   = {{ znc_user_realname }}
{% for item in znc_user_settings | dict2items %}
  {{ item.key }}  = {{ item.value }}
{% endfor %}

{% for user_module in znc_user_modules %}
  LoadModule = {{ user_module }}
{% endfor %}
</User>
